<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/static/javascript/issue.js"></script>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style type="text/css">
        .root {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #dfe6e9;
            padding: 20px;
        }

        .myframe {
            width: 100%;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
        }

        .gap {
            margin-top: 10px;
        }

        .btnstyle {
            display: flex;
            justify-content: center;
        }
    </style>

    <title>Material Management [Issue Products]</title>
</head>

<body style="background-color: #dfe6e9;">
    <div class="root">
        <div class="myframe">
            <div class="row"
                style="display: flex; align-items:center; font-size:20px; letter-spacing:2px; font-weight:bold; justify-content: center;">
                <img src="/static/product.png" width="30" style="padding-right: 5px;">
                List of Product Issued
            </div>
            <table class="table">
                <tr>
                    <th>#</th>
                    <th>Employeeid</th>
                    <th>Category <br>Name</th>
                    <th>SubCategory<br>Name</th>
                    <th>Product<br>Name</th>
                    <th>Final Product<br>Name</th>
                    <th>Demand<br> Employeeid</th>
                    <th>Issue <br> Date</th>
                    <th>Quantity<br>Issue</th>
                    <th>Rekark</th>
                    <th>Update</th>
                </tr>
                {% for row in rows %}
                <tr>
                    <th scope="row">{{row.0}}</th>
                    <td>{{row.1}}</td>
                    <td>{{row.10}}</td>
                    <td>{{row.11}}</td>
                    <td>{{row.12}}</td>
                    <td>{{row.13}}</td>
                    <td>{{row.6}}</td>
                    <td>{{row.7}}</td>
                    <td>{{row.8}}</td>
                    <td> {{row.9}}</td>
                    <td><a a class="button is-primary modal-button" data="{{row}}" data-target="#modal">Edit/Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div id="modal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content"
            style="background-color: #d3e4eb; width:600px; background:white; border-radius:10px;">

            <body style="background-color: #dfe6e9;">
                <form action="/editdeleteissueproductrecord">
                    <input type="hidden" id="issueid" name="issueid">
                    <div class="root">
                        <div class="myframe">
                            <div class="row"
                                style="display: flex; align-items:center; font-size:14px; letter-spacing:2px; font-weight:bold; padding-left : 20px; margin-bottom: 10px;">
                                <img src="/static/product.png" width="30" style="padding-right: 5px;">
                                Update Issued Products
                            </div>

                            <div class="row gap">
                                <div class="col">
                                    <input type="text" name="employeeid" id="employeeid" class="form-control"
                                        placeholder="Employee Id">
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col">
                                    <select id="categoryid" name="categoryid" class="form-control">
                                        <option value="{{row.2}}">-Select Category-</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="row gap">
                                <div class="col">
                                    <select id="subcategoryid" name="subcategoryid" class="form-control">
                                    </select>
                                </div>
                            </div>
                            
                            <div class="row gap">
                                <div class="col">
                                    <select id="productid" name="productid" class="form-control">
                                    </select>
                                </div>
                            </div>
                            
                            <div class="row gap">
                                <div class="col">
                                    <select id="finalproductid" name="finalproductid" class="form-control">
                                    </select>
                                </div>
                            </div>
                            
                            <div class="row gap">
                                <div class="col">
                                    <input type="text" name="demand_employeeid" id="demand_employeeid" class="form-control"
                                        placeholder="Demand Employee Id">
                                </div>
                            </div>

                            <div class="row gap">
                                <div class="col">
                                    <input type="date" id="dateissue" name="dateissue" class="form-control"
                                        placeholder="Issue Date">
                                </div>
                            </div>

                            <div class="row gap">
                                <div class="col">
                                    <input type="text" name="qtyissue" id="qtyissue" class="form-control" placeholder="Quantity Issue">
                                </div>

                                <div class="col">
                                    <input type="text" id="remark" name="remark" class="form-control"
                                        placeholder="Remark">
                                </div>
                            </div>

                            <div class="row gap">
                                <div class="col btnstyle">
                                    <button type="submit" name="btn" value="Edit" class="btn btn-primary"
                                        style="width: 100%;">Edit</button>
                                </div>

                                <div class="col btnstyle">
                                    <button type="submit" name="btn" value="Delete"
                                        class="btn btn-primary w-100">Delete</button>
                                </div>
                            </div>

                            <div class="row gap">
                                <div class="col btnstyle" style="font-size: 18px; font-weight:bold;">
                                    {{msg}}
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </body>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <script>
        function setData(data) {
            data = data.replace("(", "")
            data = data.replace(")", "")
            data = data.replaceAll("'", "")
            data = data.split(",")
            return data
        }

        $(".modal-button").click(function () {
            var target = $(this).data("target");
            var data = $(this).attr('data')
            data = setData(data)
            $('#issueid').val(data[0].trim())
            $('#employeeid').val(data[1].trim())
            $('#categoryid').val(data[2].trim())
            $('#subcategoryid').append($('<option>').text(data[11]).val(data[3]))
            $('#productid').append($('<option>').text(data[12]).val(data[4]))
            $('#finalproductid').append($('<option>').text(data[13]).val(data[5]))
            $('#demand_employeeid').val(data[6].trim())
            $('#dateissue').val(data[7].trim())
            $('#qtyissue').val(data[8].trim())
            $('#remark').val(data[9].trim())
            $("html").addClass("is-clipped");
            $(target).addClass("is-active");
        });

        $(".modal-close").click(function () {
            $("html").removeClass("is-clipped");
            $(this).parent().removeClass("is-active");
        });
    </script>

</body>

</html>