<style type="text/css">
.root{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dfe6e9;
    padding: 20px;
}
.myframe{
     width: 80%;
    background-color: #fff;
    padding: 20px;
    border-radius:10px;
}
.gap{
margin-top: 10px;
}
.btnstyle{
display: flex;justify-content:center;align-items:center;
}
</style>
<!DOCTYPE html>
<html lang="en">
<link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/static/javascript/subcategory.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Material Management</title>
</head>
<body style="background-color: #dfe6e9;">
<div class="root">
<div class="myframe">
    <div class="row" style="display:flex;align-items:center;font-size:14px;letter-spacing:2px;font-weight: bold;padding-left:20px;margin-bottom:10px;">
       <img src="/static/employee.png" width="30">
        <b>List of Categories</b>
    </div>
<table class="table">
  <thead>
    <tr>
      <th >Category name</th>
      <th>Subcategory name</th>
        <th>Product id</th>
      <th>Product name</th>
      <th >Product description</th>
        <th>Picture</th>
        <th>Update</th>
    </tr>
  </thead>
  <tbody>
{% for row in rows %}
 <tr>
      <th scope="row">{{row.6}}</th>
      <td>{{row.7}}</td>
      <td>{{row.2}}</td>
      <td>{{row.3}}</td>
     <td>{{row.4}}</td>
     <td><a href="/editproducticon?productid={{row.2}}&productname={{row.3}}&producticon={{row.5}}"><img src="/static/{{row.5}}" width="50" /></a></td>
     <td><a class="button is-primary modal-button" data="{{ row }}" data-target="#modal">Edit/Delete</a></td>
    </tr>
{% endfor %}
  </tbody>
</table>
</div>
</div>
<div id="modal" class="modal">
    <div class = "modal-background"></div>
               <div class = "modal-content" style="background:#dfe6e9;border-radius:10px; width:600px;">
                   <form action="/editdeleteproduct" >
    <input type="hidden" name="productid" id="productid"/>
    <div class="root">
        <div class="myframe">
        <div class="row" style="display: flex;align-item: center;font-size:15px;padding-left:15px;margin-bottom:10px;letter-spacing:2px;font-weight:bold;">
        Product
        </div>
            <div class="row">
        <div class="col">
            <select name="categoryid" id="categoryid" class="form-control" >
            </select>
        </div>
    </div>
            <div class="row gap">
        <div class="col">
            <select name="subcategoryid" id="subcategoryid" class="form-control">
            </select>
        </div>
    </div>
          <div class="row gap">
        <div class="col">
            <input type="text" name="productname" id="productname" class="form-control" placeholder="Name of Products">
        </div>
    </div>
            <div class="row gap">
        <div class="col">
            <input type="text" name="pdescription" id="pdescription" class="form-control" placeholder="Description of Product">
        </div>
    </div>
                  <div class="row gap">
        <div class="col" style="display:flex; align-item:center;justify-content: center;">
             &nbsp;<img name="picture" id="picture" width="100">
        </div>
    </div>

            <div class="row gap">
        <div class="col btnstyle">
            <button type="submit" name="btn" value="Edit" class="btn btn-primary w-100">Save</button>
        </div>
        <div class="col btnstyle">
            <button type="submit" name="btn" value="Delete" class="btn btn-primary w-100">Delete</button>
        </div>
        </div>
        </div>
    </div>
</form>
               </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
<script>
function setData(data)
{data=data.replace("(","")
data=data.replace(")","")
data=data.replaceAll("'","")
data=data.split(",")
return data
}
$(".modal-button").click(function(){
var target=$(this).data("target");
var data=$(this).attr('data')
data=setData(data)
$('#categoryid').append($('<option>').text(data[6]).val(data[0]))
$('#subcategoryid').append($('<option>').text(data[7]).val(data[1]))
$('#productid').val(data[2].trim())
$('#productname').val(data[3].trim())
$('#pdescription').val(data[4].trim())
$('#picture').attr('src','/static/'+(data[5].trim()))
$("html").addClass("is-clipped");
$(target).addClass("is-active");
});

$(".modal-close").click(function(){
$("html").removeClass("is-clipped");
$(this).parent().removeClass("is-active");
});
</script>
</body>
</html>>