<style type="text/css">
.root{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dfe6e9;
    padding: 20px;
}
.myframe{
     width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius:10px;
}
.gap{
margin-top: 10px;
}
.btnstyle{
display: flex;justify-content:center;align-items:center;
}

</style>
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/static/javascript/project.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Material Management[Employee]</title>
</head>
<body style="background:#dfe6e9;">
<form action="/employeesubmit" method="post" enctype="multipart/form-data">{% csrf_token %}
<div class="root">
<div class="myframe">
    <div class="row" style="display:flex;align-items:center;font-size:14px;letter-spacing:2px;font-weight: bold;padding-left:20px;margin-bottom:10px;">
       <img src="/static/employee.png" width="30">
        Employee Register
    </div>
    <div class="row">
        <div class="col">
            <input type="text" name="firstname" class="form-control" placeholder="First Name">
        </div>
        <div class="col">
            <input type="text" name="lastname" class="form-control" placeholder="Last Name">
        </div>
    </div>
     <div class="row gap">
        <div class="col" style="display: flex; justify-content:center;align-items:center;">
            <input type="radio" value="Male" name="gender"><i class="fas fa-male" style="color:darkviolet;margin-left:10px;margin-right:30px;font-size:20px"></i>
            <input type="radio" value="Feale" name="gender"><i class="fas fa-female" style="color:deeppink;margin-left:10px;margin-right:30px;font-size:20px"></i>
        </div>
        <div class="col">
            <input type="date" class="form-control" name="birthdate" placeholder="Birth date">
        </div>
    </div>

     <div class="row gap">
        <div class="col">
         <input type="text" name="paddress" class="form-control" placeholder="Permanent Address">
        </div>
    </div>
    <div class="row gap">
        <div class="col">
            <select name="state" id="state" class="form-control"><option>-State-</option></select>
        </div>
        <div class="col">
          <select name="city" id="city" class="form-control"><option>-City-</option></select>
        </div>
    </div>
     <div class="row gap">
        <div class="col">
         <input type="text" name="caddress" class="form-control" placeholder="Current Address">
        </div>
    </div>
    <div class="row gap">
        <div class="col">
            <input type="email" name="emailaddress" class="form-control" placeholder="Email Address">
        </div>
        <div class="col">
            <input type="text" name="mobilenumber" class="form-control" placeholder="Mobile Number">
        </div>
    </div>
    <div class="row gap">
        <div class="col">
            <input type="text" name="designation" class="form-control" placeholder="Designation">
        </div>
        <div class="col btnstyle" style="flex-direction: row;">
            <input type="file" id="picture" accept="image/*" name="picture" class="form-control" placeholder="Picture">
        &nbsp;<image src="/static/noimages.png" id="pic" width="40"/>

        </div>
    </div>
    <div class="row gap">
        <div class="col btnstyle">
            <button type="Save" class="btn btn-primary w-100">Save</button>
        </div>
        <div class="col btnstyle">
            <button type="Delete" class="btn btn-primary w-100">Reset</button>
        </div>
        </div>
        <div class="row gap">
            <div class="col btnstyle" style="font-size:18px;font-weight:bold;">
                {{msg}}
            </div>
        </div>

</div>
</div>
</form>
</body>
</html>