<!DOCTYPE html>
<style type="text/css">
.root{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dfe6e9;
    padding: 20px;
}
.myframe{
     width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius:10px;
}
.gap{
margin-top: 10px;
}
.btnstyle{
display: flex;justify-content:center;align-items:center;
}
</style>


<html lang="en">
<head>
           <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/javascript/search.js" ></script>
    <meta charset="UTF-8">
    <title>Material Management</title>
</head>
<body style="background-color: #dfe6e9;">
<div class="root">
    <div class="myframe">
<div>
<input type="text" id="pattern" class="form-control" size="300" placeholder="Enter Product Name....." >
</div>

<div id="result" >
</div>
</div>
</div>

</body>
</html>